<!DOCTYPE html>
<html lang="en">

<head>

<body>

{% if not stu_list %}
	没有关注对象
{% else %}
<form action="/look_friends" method = "POST">
{% csrf_token %}
<table border="1">
	<tr>
		<th>学号</th>
		<th>姓名</th>
		<th>专业</th>
		<th>取消关注</th>
	</tr>
	
	{% for stu in stu_list %}
	<tr>
		<td>{{ stu.student_id }}</td>
		<td>{{ stu.name }}</td>
		<td>{{ stu.major }}</td>
		<td>
			<input type="radio" name="delete_a_friend" value={{ stu.student_id }} />
		</td>
	</tr>
	{% endfor %}
</table>
<input type="submit" value="取消关注">
</form>
{% endif %}

</body>

</html>