<!DOCTYPE html>
<html lang="en">

<head>
    <title>预约</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/chocolat.css" type="text/css" media="screen">
    <link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/static/js/modernizr-2.6.2.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Federo" rel="stylesheet">
</head>

<body>
    <div class="banner-bottom">
        <div class="container">
            <div class="w3ls_banner_bottom_grids">
                    <ul class="cbp-ig-grid_">
                        <li>
                            <div class="w3_grid_effect_">
                                <script type="text/javascript">
                                    function logout() {
                                        window.location.href = "/logout";
                                    }     
                                </script>  
                                <span class="cbp-ig-icon_ w3_cube"></span>
                                <span class="cbp-ig-category_">{{ user_name }}</span>
                                <button class="cbp-ig-category_" onclick="javascript:logout()">&#8195登&#8195&#8194出&#8195</button>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="agileits_banner_bottom">
                <h3><span>预约一个闲置的位置，开始一天愉快的自习吧</span>下面是你感兴趣的人</h3>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <ul class="cbp-ig-grid">
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>

                </ul>
                <ul class="cbp-ig-grid">
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <button class="cbp-ig-category">Reserve Seat</button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="banner-bottom_">
        <div class="container_">
            <div class="w3ls_banner_bottom_grids_">
                <ul class="cbp-ig-grid_">
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">MASTER BEDROOMS</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube"></span>
                            <!-- <h4 class="cbp-ig-title">SEA VIEW BALCONY</h4> -->
                            <span class="cbp-ig-category_">Mora EE</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>