<!DOCTYPE html>
<html lang="en">

<head>
    <title>座位预约</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/chocolat.css" type="text/css" media="screen">
    <link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/static/js/modernizr-2.6.2.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Federo" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        function print_user_info(pos) {
            var data = ["{{ user_info.login }}",
            "{{ user_info.seat1 }}", "{{ user_info.seat2 }}", "{{ user_info.seat3 }}", "{{ user_info.seat4 }}", "{{ user_info.seat5 }}", "{{ user_info.seat6 }}",];
            var info = data[pos]
            info = info.replace(/WangSaWangSaORZORZWangSaWangSa/g, "\n");
            alert(info);
        }
    </script>
    <div class="banner-bottom">
        <div class="container">
            <div class="w3ls_banner_bottom_grids">
                    <ul class="cbp-ig-grid_">
                        <li>
                            <div class="w3_grid_effect_">
                                <script type="text/javascript">
                                    function logout() {
                                        window.location.href = "/logout";
                                    }
                                </script>
                                <p class="cbp-ig-category_">热爱学习的你</p>
                                <span class="cbp-ig-icon_ w3_cube" onclick="javascript:print_user_info(0)"></span>
                                <button class="cbp-ig-category_" onclick="javascript:logout()">&#8195登&#8195&#8194出&#8195</button>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="agileits_banner_bottom">
                <h3><span>预约一个闲置的位置，开始一天愉快的自习吧</span>最下面是你可能感兴趣的人</h3>
            </div>
            <div class="w3ls_banner_bottom_grids">
                {% for r in row %}
                    <ul class="cbp-ig-grid">
                        {% for c in column %}
                            {% csrf_token %}
                                {%  %}
                            <li><form action="/choose" method="POST" name="sentMessage" id="contactForm">
                                {% csrf_token %}
                                    {% if request.session.seat.seat1 %}
                                    <div class="w3_grid_effect_">
                            <span class="cbp-ig-icon_ w3_cube" onclick="javascript:print_user_info(1)"></span>
                            <button name = 'id'  value = 1 class="cbp-ig-category">{{ seat.seat1 }}</button>
                        </div>
                                    {% else %}
                                    <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube" onclick="javascript:print_user_info(1)"></span>
                            <button name = 'id'  value = 1 class="cbp-ig-category">闲置座位</button>
                        </div>
                                {% endif %}
                                </form></li>

                        {% endfor %}

                    </ul>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="banner-bottom_">
        <div class="container_">
            <div class="w3ls_banner_bottom_grids_">
                <ul class="cbp-ig-grid_">
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬1号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬2号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬3号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬4号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬5号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬6号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬7号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬8号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">大佬9号</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect_">
                            <span class="cbp-ig-category_">隐藏大佬：王飒</span>
                            <span class="cbp-ig-icon_ w3_cube"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>