<!DOCTYPE html>
<html lang="en">

<head>
    <title>密码修改</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/chocolat.css" type="text/css" media="screen">
    <link href="/assets/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/assets/js/modernizr-2.6.2.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Federo" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>

<body>
    <section class="contact-w3ls" id="contact">
        <div class="containerc">
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
                <div class="contact-agileits">
                    {% if error %}
                        <div class=tip>
                            <h4>密码修改失败！</h4>
                            <p class="contact-agile2">请确认您的原始密码是否有误，或是您两次输入的新密码是否不一致</p>
                        </div>
                    {% else %}
                        <div class=tip>
                            <h4>修改密码</h4>
                            <p class="contact-agile2">你没看错，与登陆界面一模一样</p>
                        </div>
                    {% endif %}
                    <!--
                    注册备用口
                    {% if register_accept %}
                        <div class=tip>
                            <p>注册成功！请等待管理员审核</p>
                        </div>
                    {% endif %}
                    -->
                    <form action="/change_password" method="POST" name="sentMessage" id="contactForm">
                        {% csrf_token %}
                        <div class="control-group form-group">
                            <div class="controls">
                                <label class="contact-p1">原始密码：</label>
                                <input type="password" class="form-control" name="old" id="old" style="bisibility:hidden" maxlength="20" required >
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label class="contact-p1">新密码：</label>
                                <input type="password" class="form-control" name="new" id="new" style="bisibility:hidden" maxlength="20" required >
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label class="contact-p1">再次输入新密码：</label>
                                <input type="password" class="form-control" name="repeat" id="repeat" style="bisibility:hidden" maxlength="20" required >
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <p class="contact-agile2"></p> <!-- 凑数行1 -->
                        <p class="contact-agile2"></p> <!-- 凑数行2 -->
                        <p class="contact-agile2"></p> <!-- 凑数行3 -->
                        <button type="submit" value="Login" class="btn btn-primary">确认修改</button>
                    </form>
                    <form action="/home" method="POST" name="sentMessage" id="contactForm">
                        {% csrf_token %}
                        <button type="submit" value="Login" class="btn btn-primary">放弃修改</button>
                        <p class="contact-agile2"></p> <!-- 凑数行4 -->
                        <p class="contact-agile2"></p> <!-- 凑数行5 -->
                        <p class="contact-agile2"></p> <!-- 凑数行6 -->
                        <p class="contact-agile2">初始登录密码为：Fudan</p>
                        <p class="contact-agile2"></p> <!-- 凑数行7 -->
                        <p class="contact-agile2"></p> <!-- 凑数行8 -->
                        <p class="contact-agile2"></p> <!-- 凑数行9 -->
                        <p class="contact-agile2"></p> <!-- 凑数行10 -->
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
                <h4>联系方式</h4>
                <p class="contact-agile1"><strong>电话 ：</strong> (+86) 233-2333-2333</p>
                <p class="contact-agile1"><strong>邮箱 ：</strong> <a href="mailto:name@example.com">Undefined@unknown.com</a></p>
                <p class="contact-agile1"><strong>地址 ：</strong> 兵库县神户市滩区篠原本町4-3-1</p>

            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</body>

</html>