<html>

<head>
    <script type="text/javascript">
        function whichButton(event) {
            if (event.button == 2) {
                alert("You clicked the right mouse button!")
            } else if (event.button == 0) {
                alert("You clicked the left mouse button!")
            } else{
                alert("You clicked the middle mouse button!")
            }
        }
    </script>
</head>

<body onmousedown="whichButton(event)">

    <p>Click in the document. An alert box will alert which mouse button you clicked.</p>

</body>

</html>